In [101]:
# Create a practice set of random latitude and longitude combinations.
x = [25.12903645, 25.92017388, 26.62509167, -59.98969384, 37.30571269]
y = [-67.59741259, 11.09532135, 74.84233102, -76.89176677, -61.13376282]
coordinates = zip(x, y)

In [102]:
# Use the tuple() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(coordinate[0], coordinate[1])

25.12903645 -67.59741259
25.92017388 11.09532135
26.62509167 74.84233102
-59.98969384 -76.89176677
37.30571269 -61.13376282

In [103]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [104]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=7289887da70056aba2314bd34aaab29f

In [105]:
# Create an endpoint URL for a city.
#city_url = url + "&q=" + "Boston"
#print(city_url)

In [106]:
# Make a 'Get' request for the city weather.
#city_weather = requests.get(city_url)
#city_weather

In [107]:
city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
city_weather

In [108]:
city_weather.status_code

200

In [109]:
# Create an endpoint URL for a city.
#city_url = url + "&q=" + "Bston"
#city_weather = requests.get(city_url)
#city_weather

In [110]:
# Get the text of the 'Get' request.
city_weather.text

'{"coord":{"lon":-71.0598,"lat":42.3584},"weather":[{"id":741,"main":"Fog","description":"fog","icon":"50n"}],"base":"stations","main":{"temp":48.97,"feels_like":46.45,"temp_min":45.01,"temp_max":52.74,"pressure":1013,"humidity":93},"visibility":402,"wind":{"speed":5.99,"deg":0,"gust":0},"clouds":{"all":100},"dt":1647576981,"sys":{"type":2,"id":2013408,"country":"US","sunrise":1647600664,"sunset":1647644013},"timezone":-14400,"id":4930956,"name":"Boston","cod":200}'

In [111]:
# Get the JSON text of the 'Get' request.
city_weather.json()

{'coord': {'lon': -71.0598, 'lat': 42.3584},
 'weather': [{'id': 741, 'main': 'Fog', 'description': 'fog', 'icon': '50n'}],
 'base': 'stations',
 'main': {'temp': 48.97,
  'feels_like': 46.45,
  'temp_min': 45.01,
  'temp_max': 52.74,
  'pressure': 1013,
  'humidity': 93},
 'visibility': 402,
 'wind': {'speed': 5.99, 'deg': 0, 'gust': 0},
 'clouds': {'all': 100},
 'dt': 1647576981,
 'sys': {'type': 2,
  'id': 2013408,
  'country': 'US',
  'sunrise': 1647600664,
  'sunset': 1647644013},
 'timezone': -14400,
 'id': 4930956,
 'name': 'Boston',
 'cod': 200}

In [112]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
if city_weather.status_code == 200:
    print(f"City Weather found.")
else:
    print(f"City weather not found.")

City Weather found.

In [113]:
print(city_url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=7289887da70056aba2314bd34aaab29f&q=Boston

In [114]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
city_weather.json()

{'coord': {'lon': -71.0598, 'lat': 42.3584},
 'weather': [{'id': 741, 'main': 'Fog', 'description': 'fog', 'icon': '50n'}],
 'base': 'stations',
 'main': {'temp': 48.97,
  'feels_like': 46.45,
  'temp_min': 45.01,
  'temp_max': 52.74,
  'pressure': 1013,
  'humidity': 93},
 'visibility': 402,
 'wind': {'speed': 5.99, 'deg': 0, 'gust': 0},
 'clouds': {'all': 100},
 'dt': 1647576981,
 'sys': {'type': 2,
  'id': 2013408,
  'country': 'US',
  'sunrise': 1647600664,
  'sunset': 1647644013},
 'timezone': -14400,
 'id': 4930956,
 'name': 'Boston',
 'cod': 200}

In [115]:
# Get the JSON data.
boston_data = city_weather.json()

In [116]:
boston_data['sys']

{'type': 2,
 'id': 2013408,
 'country': 'US',
 'sunrise': 1647600664,
 'sunset': 1647644013}

In [117]:
boston_data['sys'] ["country"]

'US'

In [118]:
boston_data["dt"]

1647576981

In [119]:
boston_data["coord"]["lat"]

42.3584

In [120]:
boston_data["main"]["temp_max"]

52.74

In [121]:
lat = boston_data["coord"]["lat"]
lng = boston_data["coord"]["lon"]
max_temp = boston_data["main"]["temp_max"]
humidity = boston_data["main"]["humidity"]
clouds = boston_data["clouds"]["all"]
wind = boston_data["wind"]["speed"]
print(lat, lng, max_temp, humidity, clouds, wind)

42.3584 -71.0598 52.74 93 100 5.99

In [122]:
# Import the datetime module from the datetime library.
from datetime import datetime
# Get the date from the JSON file.
date = boston_data["dt"]
# Convert the UTC date to a date format with year, month, day, hours, minutes, and seconds.
datetime.utcfromtimestamp(date)

datetime.datetime(2022, 3, 18, 4, 16, 21)

In [123]:
# Import the datetime module from the datetime library.
from datetime import datetime
# Get the date from the JSON file.
date = boston_data["dt"]
# Convert the UTC date to a date format with year, month, day, hours, minutes, and seconds.
datetime.utcfromtimestamp(date).strftime('%Y-%m-%d %H:%M:%S')

'2022-03-18 04:16:21'

In [124]:
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [125]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1

# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | cockburn town
Processing Record 2 of Set 1 | gat
Processing Record 3 of Set 1 | parvatsar
Processing Record 4 of Set 1 | punta arenas
Processing Record 5 of Set 1 | saint george
-----------------------------
Data Retrieval Complete
-----------------------------

In [128]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [129]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Cockburn Town,21.4612,-71.1419,77.97,79,1,22.39,TC,2022-03-18 04:14:05
1,Gat,31.6100,34.7642,52.39,100,84,6.60,IL,2022-03-18 04:11:01
2,Parvatsar,26.8833,74.7667,86.79,14,19,5.37,IN,2022-03-18 04:18:05
3,Punta Arenas,-53.1500,-70.9167,35.71,87,20,13.80,CL,2022-03-18 04:18:05
4,Saint George,37.1041,-113.5841,59.63,23,0,1.01,US,2022-03-18 04:13:51

In [132]:
new_column_order = ["City", "Country", "Date", "Lat","Lng","Max Temp","Humidity","Cloudiness","Wind Speed"]

#City=1
#Cloudlness=2
#Country=3
#Date=4
#Humidty=5
#Lat=6
#Lng=7
#Max Temp=8
#Wind Speed=9

city_data_df = city_data_df[new_column_order]


city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Cockburn Town,TC,2022-03-18 04:14:05,21.4612,-71.1419,77.97,79,1,22.39
1,Gat,IL,2022-03-18 04:11:01,31.6100,34.7642,52.39,100,84,6.60
2,Parvatsar,IN,2022-03-18 04:18:05,26.8833,74.7667,86.79,14,19,5.37
3,Punta Arenas,CL,2022-03-18 04:18:05,-53.1500,-70.9167,35.71,87,20,13.80
4,Saint George,US,2022-03-18 04:13:51,37.1041,-113.5841,59.63,23,0,1.01

In [134]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")