In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-03-18 20:46:45,3.0707,172.7902,80.53,81,23,19.15
1,1,Azle,US,2022-03-18 20:46:07,32.8951,-97.5459,66.67,36,20,19.57
2,2,Yellowknife,CA,2022-03-18 20:45:15,62.4560,-114.3525,24.42,80,75,4.61
3,3,Kodiak,US,2022-03-18 20:46:46,57.7900,-152.4072,33.31,75,100,13.80
4,4,Koumac,NC,2022-03-18 20:46:47,-20.5667,164.2833,79.86,76,54,3.18

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
#Adjust zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-03-18 20:46:45,3.0707,172.7902,80.53,81,23,19.15
4,4,Koumac,NC,2022-03-18 20:46:47,-20.5667,164.2833,79.86,76,54,3.18
7,7,Paita,PE,2022-03-18 20:46:47,-5.0892,-81.1144,79.81,67,12,18.81
8,8,Isangel,VU,2022-03-18 20:46:48,-19.5500,169.2667,82.42,73,100,3.58
9,9,Vaini,TO,2022-03-18 20:46:48,-21.2000,-175.2000,78.96,83,100,17.27
11,11,General Jose Eduvigis Diaz,PY,2022-03-18 20:46:49,-27.1667,-58.4167,79.09,87,97,9.64
13,13,Rikitea,PF,2022-03-18 20:46:49,-23.1203,-134.9692,80.40,77,46,13.33
14,14,Kahului,US,2022-03-18 20:46:49,20.8947,-156.4700,82.98,66,40,16.11
18,18,Kapaa,US,2022-03-18 20:43:38,22.0752,-159.3190,80.11,69,20,13.80
19,19,Bambous Virieux,MU,2022-03-18 20:46:51,-20.3428,57.7575,78.22,94,20,3.44

In [19]:
preferred_cities_df.count()

City_ID       188
City          188
Country       188
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                          City Country  Max Temp      Lat       Lng Hotel Name
0                   Butaritari      KI     80.53   3.0707  172.7902
4                       Koumac      NC     79.86 -20.5667  164.2833
7                        Paita      PE     79.81  -5.0892  -81.1144
8                      Isangel      VU     82.42 -19.5500  169.2667
9                        Vaini      TO     78.96 -21.2000 -175.2000
11  General Jose Eduvigis Diaz      PY     79.09 -27.1667  -58.4167
13                     Rikitea      PF     80.40 -23.1203 -134.9692
14                     Kahului      US     82.98  20.8947 -156.4700
18                       Kapaa      US     80.11  22.0752 -159.3190
19             Bambous Virieux      MU     78.22 -20.3428   57.7575

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [29]:
hotel_df

           City Country  Max Temp      Lat       Lng              Hotel Name
0    Butaritari      KI     80.53   3.0707  172.7902      Isles Sunset Lodge
4        Koumac      NC     79.86 -20.5667  164.2833              Le Monitel
7         Paita      PE     79.81  -5.0892  -81.1144  Hotel Náutico de Paita
8       Isangel      VU     82.42 -19.5500  169.2667             Tanna Lodge
9         Vaini      TO     78.96 -21.2000 -175.2000     Keleti Beach Resort
..          ...     ...       ...      ...       ...                     ...
535        Daru      PG     78.17  -9.0763  143.2092
539     Hualmay      PE     75.29 -11.0964  -77.6139
546      Igboho      NG     87.69   8.8333    3.7500
552    Maragogi      BR     80.19  -9.0122  -35.2225
557       Conde      BR     79.29  -7.2597  -34.9075      Pousada Beija Flor

[188 rows x 6 columns]

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [37]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))