## Deliverable 3. Create a Travel Itinerary Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [15]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame .. means going back one folder
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Punta Arenas,CL,48.31,clear sky,-53.1500,-70.9167,Hotel Hain
1,4,Severo-Kurilsk,RU,30.24,broken clouds,50.6789,156.1250,Kak Doma
2,8,Seoul,KR,56.80,haze,37.5683,126.9778,롯데호텔 서울
3,14,Santa Maria Del Oro,MX,52.07,clear sky,25.9333,-105.3667,Hotel Palacio Del Sol
4,15,Griffith,US,41.49,overcast clouds,41.5284,-87.4237,Apartment above Depot Bar

In [16]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [17]:
# 4a. Add a marker layer for each city to the map.

# 4b. Display the figure

locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
city = vacation_df
preferred_cities_df = city.loc[city['Country'] == 'US'].head(4)
preferred_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,15,Griffith,US,41.49,overcast clouds,41.5284,-87.4237,Apartment above Depot Bar
6,32,Bethel,US,43.90,moderate rain,41.3712,-73.4140,Courtyard by Marriott Danbury
7,34,College,US,31.08,clear sky,64.8569,-147.8028,Pike's Waterfront Lodge
9,59,Saint Anthony,US,40.93,clear sky,45.0205,-93.2180,Holiday Inn Express Roseville-St. Paul

In [38]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Corning"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Corning"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Palmer"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Westport"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Altoona"]

In [39]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [40]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
route = gmaps.directions_layer(start, end, 
        waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(route)

fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,118,Corning,US,49.21,light rain,42.1428,-77.0547,Fairfield Inn by Marriott Corning Riverside
1,211,Palmer,US,42.62,mist,42.1584,-72.3287,Wedgewood Motel
2,561,Westport,US,45.18,moderate rain,41.1415,-73.3579,The Inn at Longshore
3,267,Altoona,US,50.11,overcast clouds,40.5187,-78.3947,Cedar Grove Motel

In [43]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [44]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
cur_desc = itinerary_df["Current Description"]
fig = gmaps.figure(center=(-43.0, -60.0), zoom_level=4.2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))